.arrowBox {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-right: 50px; /* Adjust padding to make room for arrows */
}

.arrowBox .arrow:first-child {
  opacity: 0.4;
}
.arrowBox .arrow:nth-child(2) {
  opacity: 0.7;
}

.arrow {
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.arrow:before,
.arrow:after {
  content: "";
  width: 15px; /* Reduce width */
  height: 10px; /* Reduce height */
  background: #0d9fdf;
  display: inline-block;
}

.arrow:before {
  transform: skewY(45deg);
  margin-right: 2px; /* Adjust spacing */
}

.arrow:after {
  transform: skewY(-45deg);
}

.arrowSliding {
  animation: slide 4s linear infinite;
}

.delay1 {
  animation-delay: 0s;
}
.delay2 {
  animation-delay: 1s;
}
.delay3 {
  animation-delay: 2s;
}

@keyframes slide {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
