.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #20c997;
  text-decoration: none;
  color: white;
  height: 12vh;
}

a {
  text-decoration: none;
  color: white;
}

.navbar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  height: 50%;
  border: 1px solid white;
  width: 15%;
  margin-left: 3%;
  text-align: center;
  border-radius: 50px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 1.125em;
  font-weight: bold;
}

.navbar_menu li {
  padding: 8px 25px;
}

.navbar_menu li:hover {
  transform: translateY(-5px);
  transition: 0.5s;
}

.navbar_links {
  list-style: none;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.navbar_links li {
  padding: 8px 12px;
}

@media screen and (max-width: 48rem) {
  .navbar {
    flex-direction: column;

    height: 20vh;
  }

  .navbar_logo {
    width: 50%;
    margin-top: 5%;
  }

  .navbar_menu {
    width: 100%;
    justify-content: space-around;
  }

  .navbar_links {
    display: none;
  }
}
